<template name="desktop_sidebar">
  <div class="sidebar close">
    <ul class="nav-links">

      <li class="list">
        <div class="row">
          <div class="col-8">
            <a class="anchor" href="#">
              <i class="icon fas fa-box-open"></i>
              <span class="link-name">Productos</span>
            </a>
          </div>
          <div class="col-4">
            <i class="icon fas fa-angle-down arrow"></i>
          </div>
        </div>
        <ul class="sub-menu">
          <li class="list">
            <a class="link-name anchor" href="#">Productos</a>
          </li>
          <li class="list">
            <a href="/admin/products" class="{{isActiveRoute 'user.reserved-games'}} anchor">Consultar Productos
            </a>
          </li>
          <li class="list">
            <a href="/admin/products/add" class="{{isActiveRoute 'user.reserve-new-games'}} anchor">Añadir Productos</a>
          </li>
        </ul>
      </li>

      <li class="list">
        <div class="row">
          <div class="col-8">
            <a class="anchor" href="#">
              <i class="icon fas fa-home"></i>
              <span class="link-name">Sedes</span>
            </a>
          </div>
          <div class="col-4">
            <i class="icon fas fa-angle-down arrow"></i>
          </div>
        </div>
        <ul class="sub-menu">
          <li class="list">
            <a class="link-name anchor" href="#">Sedes</a>
          </li>
          <li class="list">
            <a href="/admin/sede" class="{{isActiveRoute 'user.gift-card-check-balance'}} anchor">Lista de Sedes:</a>
          </li>
          <li class="list">
            <a href="/admin/sede/add" class="{{isActiveRoute 'user.gift-card-buy'}} anchor">Añadir Sedes</a>
          </li>
        </ul>
      </li>

      <li class="list">
        <div class="row">
          <div class="col-8">
            <a class="anchor" href="#">
              <i class="icon fas fa-truck-moving"></i>
              <span class="link-name">Proveedores</span>
            </a>
          </div>
          <div class="col-4">
            <i class="icon fas fa-angle-down arrow"></i>
          </div>
        </div>
        <ul class="sub-menu">
          <li class="list">
            <a class="link-name anchor" href="#">Proveedores</a>
          </li>
          <li class="list">
            <a href="/admin/proveedores" class="{{isActiveRoute 'user.gift-card-check-balance'}} anchor">Lista de Proveedores</a>
          </li>
          <li class="list">
            <a href="/admin/proveedor/add" class="{{isActiveRoute 'user.gift-card-buy'}} anchor">Añadir Proveedor</a>
          </li>
        </ul>
      </li>

      <li class="list">
        <a href="/admin/usuarios" class="{{isActiveRoute 'user.my-account'}} anchor">
          <i class="icon fas fa-user"></i>
          <span class="link-name">Usuarios</span>
        </a>
        <ul class="sub-menu blank">
          <li class="list">
            <a class="link-name {{isActiveRoute 'user.my-account'}} anchor" href="/admin/usuarios">Usuarios</a>
          </li>
        </ul>
      </li>

      <li class="list logout">
        <a class="anchor" id="logout">
          <i class="icon fas fa-sign-out-alt"></i>
          <span class="link-name">Lista de Usuarios</span>
        </a>
      </li>
    </ul>
  </div>
</template>
